body {
    background-color: aqua;

}

h1 {
    color: blue;
}

h2 {
    color: blue;
}

.banner {

    position: relative;
    top: 50px;
    left: 200px;
    
}

.text {
    text-decoration: none;

}
p,li{
    font-size: 20px;
    padding: auto;
}